{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body>
    <h1>KUMBAKONAM MAP</h1>
    <br />
    <img src="{% static 'kumbakonammap.png' %}">

    <map name="map">
      <area
        alt="Kumbakonam_big_Masjid "
        title=" Kumbakonam_big_Masjidt"
        href="Kumbakonam_big_Masjid.html"
        coords="387,298,385,298"
        shape="rect"
      />
      <area
        alt="Mahamaham_Kulam"
        title="Mahamaham_Kulam"
        href="Mahamaham_Kulam.html"
        coords="526,295,528,295"
        shape="rect"
      />
      <area
        target=""
        alt="St._Mary’s_Cathedral"
        title="St._Mary’s_Cathedral"
        href="st_marys_cathedral.html"
        coords="582,294,578,297"
        shape="rect"
      />
    </map>
  </body>
</html>