{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Kumbakonam Big Masjid</title>

<style>
body{
    font-family: Arial;
    background-color:#f5f5f5;
}

.container{
    width:900px;
    margin:auto;
    background:white;
    padding:20px;
}

img{
    width:100%;
    border-radius:10px;
}
</style>

</head>

<body>

<div class="container">

<img src="{% static 'masjid.avif' %}" alt="Kumbakonam Big Masjid">

<p>
The Kumbakonam Big Masjid, also called Masjid-e-Azam, is one of the oldest and most important mosques in the city of Kumbakonam in Tamil Nadu.
</p>

<p>
The mosque was built many years ago when Muslim traders and families settled in Kumbakonam.
</p>

<p>
It is also known as Masjid-e-Azam, meaning “Great Mosque.”
</p>

<p>
It represents the religious harmony of Kumbakonam, a city famous for many temples and different places of worship.
</p>

<p>
<b>Address:</b> Sarangapani South Street, Valayapettai Agraharam, Thanjavur Main Road, Kumbakonam – 612001, Tamil Nadu, India.
</p>

</div>

