{% load static %}
<!DOCTYPE html>
<html>
<head>

<title>Mahamaham Kulam ,Kumbakonam</title>

<style>

body{
background-color:#c3d9df;
font-family:Arial;
}

.container{
width:900px;
margin:auto;
}

img{
width:100%;
border-radius:12px;
}

</style>

</head>

<body>

<div class="container">

<h1 align="center">Mahamaham Kulam ,Kumbakonam</h1>

<img src="{% static 'kulam.jpg' %}">

<p>
The Mahamaham Kulam (Mahamaham Tank) is a famous and sacred temple tank located in the city of Kumbakonam in Tamil Nadu.
</p>

<p>
The tank was built many centuries ago during the rule of the Chola dynasty. Later, kings of the Nayak dynasty renovated and improved the tank by building strong stone steps and mandapams around it.
</p>

<p>
Mahamaham Tank is believed to be a very sacred place for Hindus. According to tradition, the waters of many holy rivers such as Ganges River, Yamuna River, and Saraswati River are believed to meet in this tank.
</p>

<p>
The tank contains 20 sacred wells, each representing different holy rivers of India. Devotees believe that bathing in the tank during the Mahamaham festival removes sins and brings blessings.
</p>

<p>
Today, Mahamaham Tank is an important religious and historical landmark of Kumbakonam and attracts many pilgrims and visitors.
</p>

<p>
<b>Address:</b> Maha Maham Tank, Kanmani Devi Nagar, Kumbakonam – 612001, Thanjavur District, Tamil Nadu, India.
</p>

</div>

</body>
</html>