{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<title>St. Mary’s Cathedral, Kumbakonam</title>

<style>

body{
    font-family: "Times New Roman", serif;
    text-align:center;
    margin:40px;
}

img{
    width:500px;
    margin-top:20px;
}

p{
    width:70%;
    margin:auto;
    margin-top:15px;
    font-size:18px;
    line-height:1.6;
}

h1{
    color:#2c3e50;
}

h2{
    margin-top:30px;
}

</style>

</head>

<body>

<h1>St. Mary’s Cathedral, Kumbakonam</h1>

<img src="{% static 'cathedral.avif' %}" alt="St Mary's Cathedral">

<p>
St. Mary’s Cathedral is an important Catholic church located in the city of Kumbakonam. 
The church was built in the 19th century by Catholic missionaries to serve the growing 
Christian community in the region.
</p>

<p>
Later, when the Roman Catholic Diocese of Kumbakonam was formed in 1899, this church 
became its main cathedral. The cathedral is dedicated to Mother Mary, who is greatly 
respected by Christians.
</p>

<p>
Over the years, the church was renovated and expanded to accommodate more worshippers.
</p>

<p>
St. Mary’s Cathedral is known for its beautiful architecture and religious importance, 
and it is one of the important Christian landmarks in Kumbakonam.
</p>

<h2>Address:</h2>

<p>
Kamaraj Road, John Selvaraj Nagar,<br>
Kumbakonam – 612001,<br>
Thanjavur District,<br>
Tamil Nadu, India.
</p>

</body>
</html>